################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Youtube Music/bin
/7zSFX
/.vs/Youtube Music
/Youtube Music/obj
